    <!-- <div ng-if="ctype=='Color'">
    	<div class="customCheckbox test" ng-click="changeOptionValue($index, item)" style="background-color:{{item}}" ng-repeat="item in csource track by $index">
			<input class="alignRight" ng-click="changeOptionValue($index, item)" ng-checked="model.isSelected==$index" type="checkbox"/>
    	</div> 
    </div> -->
    <!-- <div ng-if="ctype!='Color'"> style="background-image:url({{item}})"-->
    	<div class="inline" ng-class="{'add-border-to-card' : model.isSelected == $index}" hm-tap="changeOptionValue($index, item)"  ng-repeat="item in csource track by $index">
    		<img class="card-image-ratio" src="{{item}}">
			<input class="alignRight" ng-click="changeOptionValue($index, item)" ng-checked="model.isSelected==$index" type="checkbox"/>
    	</div>
   <!--  </div> -->
