/* Used Css class */
.add-border-to-card {
	border:3px solid red;
}

.add-black-border-to-card {
	border:1px solid black;
}

.inline {
	display: table-cell;
    height: 72px !important;
	position: relative;
	/*display: inline-flex;*/
	/*float: left;*/
	/*display: -webkit-inline-flex;*/
}

.card-image-ratio {
	width: 69px !important;
    height: 72px !important;
}

.alignRight {
    float: right;
    padding: 0px !important;
    margin: 0px !important;
    position: absolute;
    top: 0px;	
    right: 0px;
    width: 13px;
    height: 13px;
}

.attach-at-buttom {
	bottom: 0px; 
    position: absolute;   
}
/* For Image Canvas */
.layer1 {
	z-index: 30;
	position: absolute;
}

/* Pattern Layer */
.layer2 {
	z-index: 15;
	position: absolute;
}

/* Color Layer */
.layer3 {
	z-index: 14;
	position: absolute;
}

/* Patch Layer */
.layer4 {
	z-index: 16;
	position: absolute;
}

/* Custom Art Layer Image */
.layer5 {
	z-index: 31;/*17;*/
	position: absolute;
}

/* Custom Art Layer Text*/
.layer6 {
	z-index: 31;/*18;*/
	position: absolute;
}

.topLayer {
	z-index: 100;
}

.scroll-bottom-panel {
	/*width: 282px;*/
	min-width: 295px;
	max-width: 295px !important;
	overflow: auto;
	/*overflow-y: hide;*/
	/*overflow: auto;*/
	-webkit-overflow-scrolling: touch;
}

/* Not Confirm */
.col-md-4-panel {
    z-index: 1000;
    top: 52px;
    /* right: 20px; */
    position: absolute;
    width: 100px;
}


.align-comp-right {
	float: right;
}
.middle {
	padding: 6px;
	display: inline-block;
}

.card {
	padding: 10px;
}


.customCheckbox {
	height: 80px;
	width: 80px;
}


.product-card {
	width: 180px;
	height: 300px;


.product-card-image {
	width: 180px;
	height: 280px;
}

.setwidth {
	width: 200px !important;
	display: -webkit-inline-flex !important;
}

.inlineComponent {
	bottom: 0px; 
    position: absolute;
	width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
/*.canvas-width {
	height: 600px !important;
	width: 295px;
	display:inline-block;
}*/

